<main>
    <h2> Dit zijn jouw lijstjes, {{user.given_name}}:</h2>
    <ul class="listView">

        {{#each lists}}
            <a href="/{{this}}">
                <li>
                    <h3>{{this}}</h3>
                </li>
            </a>
        {{/each}}

        <form class="makeList" action="/" method="post">
            <button type="submit">Nieuw lijstje +</button>
        </form>
    </ul>
</main>
