<main>
    <h2> Lijst {{user.displayName}}</h2>
    <form class="addItemForm">
        <fieldset>
            {{!-- hier komen list items --}}

            <section>
                <label for="addItem">+</label>
                <input id="addItem" type="text" autocomplete="off" placeholder="Add item">
            </section>
        </fieldset>
    </form>
</main>
